html{
    display: inline-flex;
    width: 300px;
    max-height: 500px;
    user-select: none;
    font-family: sans-serif;
}

body{
    position: relative;
    width: inherit;
    max-height: inherit;
    user-select: none;
    font-family: sans-serif;
    margin: 8px;
}
h1{
    font-family: Verdana, Geneva, sans-serif;
}

ul{
    -webkit-padding-start: 5%;
}

.mainPopup {
    width: 100%;
    text-align: center;
}

ui{
    display: -webkit-box;
    line-height: 300%;
    padding: 1%;
    width: inherit;
    text-align: center;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 1px;
    border-style: solid;
}

input[type=search], select {
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.app__logout {
    margin-right: 6%;
    margin-bottom: 2%;
    float: right;
    width: 2.5rem;
    height: 2.5rem;
    background: #639752;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: bottom 0.4s 0.1s, right 0.4s 0.1s, opacity 0.1s 0.7s, background-color 0.1s 0.7s, -webkit-transform 0.4s 0.4s;
    transition: bottom 0.4s 0.1s, right 0.4s 0.1s, opacity 0.1s 0.7s, background-color 0.1s 0.7s, -webkit-transform 0.4s 0.4s;
    transition: bottom 0.4s 0.1s, right 0.4s 0.1s, transform 0.4s 0.4s, opacity 0.1s 0.7s, background-color 0.1s 0.7s;
    transition: bottom 0.4s 0.1s, right 0.4s 0.1s, transform 0.4s 0.4s, opacity 0.1s 0.7s, background-color 0.1s 0.7s, -webkit-transform 0.4s 0.4s;
    -webkit-transform: scale(0);
    transform: scale(0);
}