html{
    width: 300px;
    max-height: 500px;
    font-family: sans-serif;
    padding: 0px;
}

body{
    position: relative;
    width: inherit;
    max-height: inherit;
    margin: 0px;
}
h1{
    font-family: Verdana, Geneva, sans-serif;
}

.mainPopup {
    width: 100%;
    max-height: inherit;
    text-align: center;
}

ui{
    display: block;
    line-height: 300%;
    padding-left: 3%;
    width: inherit;
    text-align: left;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 1px;
    border-style: solid;
}

input[type=search], select {
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.app {
    display: none;
    width: 100%;
    max-height: inherit;
    overflow: hidden;
}

.app__logout {
    width: 11%;
    margin-left: 2%;
    padding:inherit;
    border-radius: 50%;
}
