.radio-group {
    width: 84%;
    table-layout: auto;
    border-spacing: 0;
    display: table;
    border-collapse: separate;
}

.radio-group__label {
    display: table-cell;
    padding: 5px;
    margin: 2%;
    vertical-align: middle;
    text-align: center;
    color: #4F5167;
    cursor: pointer;
}

.radio-group__option:checked + label {
    color: #389E29;
}

.radio-group__option {
    display: none;
}
